<div class="container-fluid">
  <div class="row">
    <h3>Full Width</h3>
    <div *ngFor='let i of collection' class="card col-3 col-sm-4" style="width: 18rem;">
      <img class="card-img-top" [src]="i.urls.small" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
</div>
</div>

